.modal {
	position: relative;
}

.guest-review-header {
	justify-content: space-between;
	padding: 1%;
}

/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 700px) {
	.modal-box { */
/* position: "absolute"; */
/* top: 10%; */
/* left: 50%; */
/* transform: translate(25%, 5%);
		width: 70%;
		height: 90%;
		background-color: #fff;
		border: "1px solid #000";
		overflow-y: scroll;
		border-radius: 5px;
	}
} */

/* Medium devices (laptops/desktops, 700px and up) */
/* @media only screen and (min-width: 700px) { */
.modal-box {
	transform: translate(25%, 5%);
	width: 70%;
	height: 90%;
	background-color: #fff;
	border: "1px solid #000";
	overflow-y: scroll;
	border-radius: 5px;
}
/* } */
