.create-guest-modal-container {
	background: white;
	border-radius: 10px;
	border: 2px solid rgb(108, 105, 105);
	gap: 1rem;
}
@media only screen and (max-width: 700px) {
	.create-guest-modal-container {
		width: 85%;
		height: 80%;
		transform: translate(15%, 3%);
		padding: 0.5rem;
	}

	.name-div {
		display: flex;
		flex-direction: column;
		width: 100%;
		align-items: center;
		/* margin-bottom: 5px; */
	}
	.custom-text-field {
		width: 100%;
		border-radius: 10px;
		height: 50px;
	}

	.date-picker-div {
		margin: 2rem auto;
	}
}

@media only screen and (min-width: 700px) {
	/* and (max-width: 1200px) { */
	.create-guest-modal-container {
		width: 60%;
		height: 70%;
		transform: translate(55%, 20%);
		background: white;
		border-radius: 10px;
		border: 2px solid rgb(108, 105, 105);
		gap: 1rem;
		padding: 1rem;
	}
	.name-div {
		display: flex;
		gap: 1rem;
	}

	.custom-text-field {
		width: 70%;
		border-radius: 10px;
		height: 50px;
	}
}

@media only screen and (min-width: 900px) {
	/* and (max-width: 1200px) { */
	.create-guest-modal-container {
		width: 40%;
		height: 70%;
		transform: translate(55%, 20%);
		background: white;
		border-radius: 10px;
		border: 2px solid rgb(108, 105, 105);
		gap: 1rem;
	}
	.name-div {
		display: flex;
		gap: 1rem;
	}

	.custom-text-field {
		width: 70%;
		border-radius: 10px;
		height: 50px;
	}
}

.contact-div,
.button-div {
	width: 100%;
	display: flex;
	gap: 0.5rem;
	flex-direction: column;
	/* margin-top: 2rem; */
}

.create-guest-form {
	width: 100%;
	display: grid;
	place-items: center;
	gap: 1rem;
	margin: auto;
	/* outline: 2px solid hotpink; */
}

/* .date-picker-div { */
	/* margin: 2rem auto; */
	/* gap: 2rem; */
	/* display: grid; */
	/* outline: 2px solid hotpink; */
/* } */

.button-div {
	display: flex;
	justify-content: center;
	/* outline: 2px solid rebeccapurple; */
	align-items: center;
}

.create-guest-button {
	width: 60%;
	height: 100%;
}

.select-guest-room {
	/* margin-top: 4rem; */
	width: 100%;
}

.auto-complete {
	width: 100% !important;
}

.date-picker {
	width: 100%;
	/* margin: 2rem auto; */
	/* background-color: red; */
}
