.booking-div-container {
    width: 99vw !important;
    /* width: 100vw !important; */
    margin: 0;
    display: grid;
    place-content: center;
}

.welcome-div {
    /* height: 70%; */
    height: 75dvh;
    background-image: url("../../assets/images/welcome-hotel.avif");
    background-size: 100% 100%;
}

.booking-form {
    display: grid;
    place-items: center;
    width: 100%;
}

.booking-explore-rooms-section {
    width: 95%;
    display: grid;
    place-content: center;
    margin: 5% 5%;
}

.guest-booking-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: aliceblue;
    width: 75dvw;
    height: 9%;
    z-index: 1;
    position: absolute;
    bottom: 20%;
    border: 1px solid ghostwhite;
    box-shadow: 3px 5px 10px 1px #9cb1bb;
    border-radius: 5px;
}

.booking-about-section {
    margin-top: 5%;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.about-div {
    width: 45%;
}

.about-image-div {
    width: 65%;
}

.room-card {
    width: 25%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 1px 1px 2px 2px #d9d9d9;
}

.room-card-image-div {
    padding: 2%;
}

.room-card-image-div > img {
    border-radius: 5px;
}
