.dashboard-container {
	display: grid;
	gap: 2rem;
	grid-template-columns: repeat(4, 1fr);
}
/* .dashboard-container > div:first-child {
	grid-column: span 4;
	display: flex;
} */

.glance-cards-div {
	grid-column: span 4;
	display: flex;
}

.grid-col-span-3_row-span-2 {
	grid-column: span 3;
	grid-row: span 2;
}

.grid-col-span-2 {
	grid-column: span 2;
}

.grid-row-span-2 {
	grid-row: span 2;
}
