.dish-form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 1rem;
	gap: 0.5rem;
}
.menu-modal-text-field {
	width: 85%;
	margin-top: 2.5%;
}

.price-label-div {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.menu-autocomplete {
	width: 85%;
}

.slide-left:hover {
	transform: translateX(-5rem);
	transition: transform ease-in-out 500ms;
}

.delete-menu-item-icon {
	display: none;
}

.delete-menu-item-icon:hover {
	display: block;
}
