.room-header-container {
	--hover-color: #a988bd;
	display: flex;
	align-items: center;
	height: 50px;
	justify-content: space-between;
}

.room-header-paper {
	display: flex;
	flex-direction: row;
	width: 70%;
	align-items: center;
	justify-content: space-between;
	height: 100%;
	padding: 0.5em;
}

.roomHeader {
	display: inline-block;
	text-decoration: none;
	max-width: 45%;
	/* margin: 5px auto; */
}

.roomHeader:hover {
	/* background: var(--hover-color); */
	border-radius: 2px;
	cursor: pointer;
}

.roomHeader::after {
	content: "";
	display: block;
	width: 0;
	height: 2px;
	background: var(--hover-color);
	transition: width 300ms;
}

.roomHeader:hover::after {
	width: 100%;
}

.textfield-div {
	height: 100%;
	width: 30%;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 3px 3px 2px #e4e3e5;
	margin: auto 5px;
	transition: transform 200ms ease-in;
}
.textfield-div:hover {
	transform: scale(1.1);
}

.schedule-div {
	display: grid;
	place-items: center;
	height: 100%;
	width: 20%;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 3px 3px 2px #e4e3e5;
	margin: auto 5px;
	transition: transform 200ms ease-in;
}

.schedule-div:hover {
	transform: scale(1.1);
}

.header-selected {
	/* background-color: var(--defaultPrimaryColor); */
	background: linear-gradient(to right, #80529d, #a988bd);
	color: #fff;
	border-radius: 2px;
	/* background-color: #6f48eb; */
}
