.room-header-container {
	display: flex;
}

.room-header-paper {
	display: flex;
	flex-direction: row;
	width: 70%;
	align-items: center;
	justify-content: space-evenly;
	height: 40px;
}

.roomHeader {
	display: inline-block;
	text-decoration: none;
	margin: 5px auto;
}

.roomHeader:hover {
	background: #e4e4e8;
	border-radius: 5px;
}

.roomHeader::after {
	content: "";
	display: block;
	width: 0;
	height: 2px;
	background: coral;
	transition: width 300ms;
}

.roomHeader:hover::after {
	width: 100%;
}

.textfield-div {
	height: 40px;
	width: 30%;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 3px 3px 2px #e4e3e5;
	margin: auto 5px;
	transition: transform 200ms ease-in;
}
.textfield-div:hover {
	transform: scale(1.1);
}

.schedule-div {
	display: grid;
	place-items: center;
	height: 40px;
	width: 18%;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 3px 3px 2px #e4e3e5;
	margin: auto 5px;
	transition: transform 200ms ease-in;
}

.schedule-div:hover {
	transform: scale(1.1);
}
