.food-header > h2,
h3 {
	font-family: "Pacifico", cursive;
	font-size: 4rem;
	color: var(--defaultPrimaryColor);
}

.element-sep {
	border-top: 2px dotted var(--defaultPrimaryColor);
	/* border-top: 3px dotted rgb(152, 134, 175); */

	width: 60%;
	/* margin-left: 20px;
	margin-right: 20px; */
}

.dish {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 5% auto;
}

@media only screen and (max-width: 700px) {
	.menu-header {
		display: flex;
		align-items: center;
		flex-direction: column;
		position: relative;
		top: -1.6rem;
	}
}

@media only screen and (min-width: 700px) {
	.menu-container {
		margin-left: 225px;
	}
	.menu-header {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}

	.menu-button-div {
		width: 30%;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}
}
